.container {
  min-height: 100vh;
  height: 100vh;
}
.header{
  overflow: hidden;
}
/* 自定义 */
.Cover{
  width: calc(100vw + 100px);
  height: calc(100vh + 100px);
  overflow: hidden;
  position: relative;
  margin-top: -100px;
  margin-left: -75px;
  /* pointer-events: none; */
}
.image{
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  margin-left: 40px;
  margin-top: 40px;
}
.img{
  width: 100%;
  height: 100%;
  position: absolute;
}
.footer {
  width: 100%;
  height: 200px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.mask{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(176, 14, 37, 0.7);
  transform: translate3d(0,0,0) rotate(0.001deg);
  clip-path: polygon(0 0,25% 0,60% 100%,0 100%);
  z-index: 9;
}

@media (max-width:900px) {
  .mask{
    width: 100%;
    clip-path: polygon(0 0,220px 0,700px 100%,0 100%);
  }
}

@media (max-width:775px) {
  .mask{
    width: 100%;
    /* transform: rotate(30deg); */
  clip-path:none;

  }
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

